body {
  background-color: black;
}
h1{
   color:blue;
}
p{
  color: white;
}

h3{
   color: blue;
}
p{
  color: white;
}


hr {
  border-style:  none;
  border-top-style:  dotted;
  border-color: grey;
  border-width: 5px;
  width: 6%;
}
p{
  color: white;
}
